<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Test App</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            {{#if currentUser}}
                <li>{{currentUser.username}}</li>
                <li><form method="post" action="/user/logout" id="logoutForm">
                    <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                </form></li>
            {{else}}
                <li><a href="/user/register">Register</a></li>
                <li><a href="/user/login">Login</a></li>
            {{/if}}
        </ul>
        {{#if globalError}}
            <h3 class="error">{{globalError}}</h3>
        {{/if}}
        {{{body}}}
        </div>
</body>
</html>