<form method="post" action="/user/login">
    Name:<input type="text" name="username" required="required" value="{{username}}" />
    <br />
    Password:<input type="password" name="password" required="required" value="{{password}}" />
    <br />
    <input type="submit" value="Login" />
</form>