<form method="post" action="/user/register">
    Name:<input type="text" name="username" required="required" value="{{username}}" />
    <br />
    Password:<input type="password" name="password" required="required" value="{{password}}" />
    <br />
    Confirm Password:<input type="password" name="checkPassword" required="required" value="{{checkPassword}}" />
    <br />
    <input type="submit" value="Register Now" />
</form>